/* For demo */

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.drag-handle {
  cursor: move!important;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 260px;
  min-height: 260px;
  line-height: 270px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.anticon{
  font-size:24px;
}